/*
FONTS
*/

@import url(https://fonts.googleapis.com/css?family=Lato|Muli|Lora:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i);
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:200,300,400,500,600,700,800,900');
@import "hamburgers.css";

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}

.hidden{
    display: none;
}

/*Sideout*/

body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans',sans-serif;
}

.fixed-header {
    position: fixed;
    top: 0;
    /*height: 30px;*/
    width: 100%;
    backface-visibility: hidden;
    z-index: 2;
    background-color: #eee;
}

.slideout-menu {
    position: fixed;
    left: 0;
    top: 30px;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 300px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    margin-top: 30px;
    will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}
/*ENABLE ONLY ON MOBILE*/

@media screen and (min-width: 480px) {
    .slideout-panel {
        margin-left: 300px;
    }
    .slideout-menu {
        display: block;
    }
    .btn-hamburger {
        display: none;
    }
}


/*Shiny Steps*/


.nav-pills > li {
    display: table-cell;
    width: 50%;
    padding-right: 0px;
    height: auto;
    vertical-align: bottom;
    position: relative;
    background-color: #f4f4f6;
}
.nav-pills>li>a {
    border-radius: 0px;
    color: #1d1d1b;
    text-align: center;
    border: 1px solid #444;
}

.nav-pills li {
    margin-left: 0px !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #c6c6c6;
    background-color: #1d1d1b;
}






#sidebar{
    background-color: #f4f4f6;
    /*border-right: 1px solid #ccc;*/
    padding: 5px;
}
.sidebar_title{
  color: #c40f7f;
  font-family: 'Open Sans',sans-serif;
}

.sidebar_content{
    padding: 10px;
}

#main{
    padding: 0px;
}

.clickable {
    cursor: pointer;
}

.tab-container{
    padding: 10px 5px 5px 5px;
}

./*tableInput{
    padding: 10px;
}*/



.tableEditCol{
    padding: 5px;
}


